#STEP1{
  border: 0px solid #ddd;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
}
#STEP1 img{
  width: 100%;
  cursor: pointer;
  transition-duration: 0.3s;
}
#STEP1:hover img{
  opacity: 0.6;
  transition-duration: 0.3s;
}

#STEP2{
  border: 0px solid #ddd;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
}
#STEP2 img{
  width: 100%;
  cursor: pointer;
  transition-duration: 0.3s;
}
#STEP2:hover img{
  opacity: 0.6;
  transition-duration: 0.3s;
}

#STEP3{
  border: 0px solid #ddd;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
}
#STEP3 img{
  width: 100%;
  cursor: pointer;
  transition-duration: 0.3s;
}
#STEP3:hover img{
  opacity: 0.6;
  transition-duration: 0.3s;
}

#STEP4{
  border: 0px solid #ddd;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
}
#STEP4 img{
  width: 100%;
  cursor: pointer;
  transition-duration: 0.3s;
}
#STEP4:hover img{
  opacity: 0.6;
  transition-duration: 0.3s;
}

#STEP5{
  border: 0px solid #ddd;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
}
#STEP5 img{
  width: 100%;
  cursor: pointer;
  transition-duration: 0.3s;
}
#STEP5:hover img{
  opacity: 0.6;
  transition-duration: 0.3s;
}

#STEP6{
  border: 0px solid #ddd;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
}
#STEP6 img{
  width: 100%;
  cursor: pointer;
  transition-duration: 0.3s;
}
#STEP6:hover img{
  opacity: 0.6;
  transition-duration: 0.3s;
}
